<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/about.html">Quienes somos</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/logout">Salir</a></li>
    </ul>
</nav>